@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* PALETA LIGHT */
:root {
    --cor-detalhes: #0B1EAD;
    --cor-escritas-Bold: #000000;
    --cor-escritas-nav: #5a5a5a;
    --cor-escritas-content: #363636;
}

/* LIGHT NAV */

body {
    height: 100vh;
}

nav {
    position: fixed;
    border-right: 1px solid #ccc;
    width: 300px;
    height: 100%;
    transition: all 0.5s ease-in;
}

li {
    list-style-type: none;
}

.menu-itens {
    height: calc(100% - 90px);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px 30px 0px 30px;
}

.logo img {
    width: 40px;
}

.logo_name {
    padding-left: 10px;
    color: var(--cor-escritas-content);
    font-weight: 700;
    font-size: 1.4em;
}

/* NAV */

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    color: var(--cor-escritas-nav);
    margin: 20px 0px 0px 0px;
    cursor: pointer;
}

.links:hover,
body.dark .links:hover {
    color: #0B1EAD;
}

.link_name {
    font-size: 1.2em;
}

.bx-home-alt,
.bx-book-content,
.bx-bar-chart-square,
.bx-like,
.bx-chat,
.bx-log-in {
    font-size: 1.5em;
    padding-right: 15px;
}

.bx-flip-horizontal {
    font-size: 1.5em;
    padding-left: 15px;
}


/* ALTERAR TEMA CLARO OU ESCURO */

.tema-dark {
    display: flex;
    flex-direction: row;
    padding: 20px 0px 0px 0px;
}

.titleMode {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--cor-escritas-nav);
    transition: all 0.5s ease-in;
}

.sun {
    display: none;
    block-size: 1.5em;
    padding-right: 15px;
}

.moon {
    display: block;
    color: #000847;
}

.bx-moon,
.bx-sun {
    font-size: 1.5em;
    padding-right: 15px;
}

/* BOTAO ALTERAR */

.mode-toggle {
    position: relative;
    margin-left: 10px;
    width: 50px;
    height: 24px;
    background-color: #C0C0C0;
    border-radius: 50px;
}

.switch {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.699);
    position: absolute;
    top: 2px;
    left: 3px;
    bottom: 2px;
    height: 20px;
    width: 20px;
    background-color: #696969;
    border-radius: 50px;
    transform: translateX();
    transition: 0.4s all ease;
}

/* ------------------------------- */

.mode {
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* CLOSE NAV */

nav.close .mode {
    display: flex;
    align-items: center;
    flex-direction: row;
    display: none;
}

nav.close .mode-toggle {
    position: relative;
    left: -18px;
}

nav.close {
    width: 80px;
}

nav.close .logo_name {
    display: none;
    transition: all 0.5s ease-in;
}

nav.close .link_name {
    pointer-events: none;
    display: none;
}

nav.close~.dashboard {
    width: calc(100% - 80px);
}



/* DARK NAV */

:root {
    --bg: #111927;
    --cor-detalhes-dark: rgba(65, 65, 65, 0.76);
    --cor-escritas-Bold-dark: rgb(163, 163, 163);
    --cor-escritas-nav-dark: rgb(158, 158, 158);
    --cor-escritas-content-dark: rgb(197, 197, 197);
}

body.dark {
    background-color: var(--bg);
    background-image:
        radial-gradient(at 47% 33%, hsl(232.96, 88%, 36%) 0, transparent 59%),
        radial-gradient(at 82% 65%, hsl(231.48, 64%, 51%) 0, transparent 55%);
}

body.dark .switch {
    position: absolute;
    top: 2px;
    bottom: 2px;
    height: 20px;
    width: 20px;
    background-color: #696969;
    border-radius: 50px;
    transform: translateX(24px);
    transition: 0.4s all ease;
}

body.dark .sun {
    display: block;
    color: rgb(255, 174, 0);
}

body.dark .moon {
    display: none;
}

body.dark .logo_name {
    color: #fff;
}

body.dark .links,
.titleMode {
    color: var(--cor-escritas-nav-dark);
}

body.dark nav.close .switch {
    position: absolute;
    left: -8px;
}


/* DASHBOARD LIGHT & TOPO */

.dashboard {
    position: relative;
    float: right;
    height: 100vh;
    width: calc(100% - 300px);
    padding: 40px 30px 40px 30px;
    transition: all 0.7s ease-in-out;
}

.bx-menu {
    cursor: pointer;
    font-size: 2.5em;
}

.top-dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top-dashboard img {
    width: 40px;
}

.bx-search {
    position: absolute;
    left: 15px;
    top: 25%;
    bottom: 25%;
    font-size: 1.5em;
    color: #9b9b9b;
}

.input {
    position: relative;
    width: 85%;
}

input[type=search] {
    padding-left: 45px;
    padding-right: 20px;
    border: 1px solid #9b9b9b4b;
    border-radius: 10px;
    height: 50px;
    width: 100%;
}

/* DASHBOARD CONTENT */

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title .text {
    font-weight: 700;
    font-size: 1.4em;
    color: var(--cor-escritas-content);
}

.icon {
    color: #fff;
    background-color: var(--cor-detalhes);
    border-radius: 6px;
    padding: 5px;
    margin-right: 20px;
}

/* DARK DASHBOARD */

body.dark .text {
    color: var(--cor-escritas-content-dark);
}

body.dark .number {
    color: var(--cor-escritas-content-dark);
}

body.dark .dashboard i {
    color: var(--cor-escritas-content-dark);
}

body.dark .box {
    background-color: rgba(65, 65, 65, 0.76);
}

body.dark .icon {
    background-color: var(--cor-detalhes-dark);
}

body.dark input[type=search] {
    background-color: var(--bg);
    color: #fff;
}

body.dark input[type=search]:focus {
    color: #fff;
}

/* LIKES, COMMENTS E TOTAL */

.boxes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 31%;
    height: 130px;
}

.box1 {
    background-color: rgba(70, 195, 253, 0.342);
}

.box2 {
    background-color: rgba(255, 230, 0, 0.376);
}

.box3 {
    background-color: #ad0b923f;
}

.text {
    font-size: 1.2em;
}

.number {
    font-size: 2em;
    font-weight: 400;
    color: var(--cor-escritas-content);
}

/* ATIVIDADES RECENTES */

.activity-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.data {
    display: flex;
    flex-direction: column;
}

.data-title {
    font-weight: 700;
    font-size: 1.2em;
    color: var(--cor-escritas-content);
}

.data-list {
    font-size: 1em;
    padding-top: 10px;
}

body.dark .data-title {
    color: var(--cor-escritas-content-dark);
}

body.dark .data-list {
    color: var(--cor-escritas-content-dark);
}